@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to strip away solid backgrounds */
html, 
body, 
#root {
  background-color: transparent !important;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
}